<?xml version="1.0"?>
<model>
  <name>Robot 3DW</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Wataru UEMURA</name>
   <email>wataru@rins.ryukoku.ac.jp</email>
  </author>

  <description>
    add the gazebo control plugin to Robotino 3
  </description>
</model>
