<?xml version="1.0"?>
<model>
  <name>Robot 2DW1C</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Wataru UEMURA</name>
   <email>wataru@rins.ryukoku.ac.jp</email>
  </author>

  <description>
   Simple Robot (https://note.com/npaka/n/n1c5820bfe0bf)
  </description>
</model>
